



<div class="col-md-6 bi-border-center mx-auto align-content-center card text-center ">
  <div class="h-100 p-5 bg-light border rounded-3 ">
   <div class="card-header">
    <h1 class="card-title">New episode</h1>
  <%= render "form", episode: @episode %>
 <p>Add your podcast:  you can add your podcast, by clicking choose file and your are ready.</p>
    <button class="btn btn-outline-secondary" type="button"><div>
      <%= link_to "Back to episodes", episodes_path %>
         <br>
         </div>
         </button>
      </div>
    </div>
   </div>
 </div>
 